.header {
  @include flex(row, space-between);
  max-width: $container-size;
  margin: auto;
  height: 100px;

  &-logo {
    margin: auto 0;
    font-family: $font-alice;
    font-size: scut-rem(42px);
    color: $color-primary-dark;
    cursor: pointer;
  }
}

.nav {
  &-list {
    @include flex(row, null, center);
    height: 100%;

    &-item {
      font-size: scut-rem(16px);
      font-weight: $semibold;
      margin-left: 30px;
      color: $color-primary-light;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        color: $color-contrast !important;

        &:not(.selected) {
          transform: translateY(-20%);
        }
      }
    }
  }
}

.selected::after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background: $color-primary-light;
  margin-top: -2px;
}
