//Colors
$color-primary-light: #243964;
$color-primary-normal: #403F5A;
$color-primary-dark: #0F1D3A;
$color-fade: #C2857A;
$color-contrast: #FF7518;

$color-white: #FAF8F8;


//Typography
$font-alice: Alice, serif;
$font-montserrat: Montserrat, Sans-serif;

$semibold: 600;

//Fontsizes
    //10
    //12
    //16
    //18
    //28
    //42

$container-size: 1420px;